@model WebSIMS.Models.ClassListViewModel

@{
    ViewData["Title"] = "Class Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Class Details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-controller="Class" asp-action="Index">Classes</a></li>
        <li class="breadcrumb-item active">Details</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-info-circle me-1"></i>
            Class Information
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ClassName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ClassName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CourseName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CourseName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FacultyName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FacultyName)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Semester)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Semester)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Year)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Year)</dd>
                    </dl>
                </div>
            </div>

            <div class="mt-4">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
                @if (User.IsInRole("Admin") || User.IsInRole("Faculty"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.ClassID" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                }
            </div>
        </div>
    </div>
</div> 